av==6.2.0
progress==1.5
torchvision==0.2.2.post3
easydict==1.9
matplotlib==3.0.3
numpy==1.16.4
torch==1.0.1.post2
six==1.11.0
opencv_python==4.0.0.21
scikit_image==0.15.0
tensorflow==1.15.4
mxnet_cu92==1.4.1
scipy==1.2.1
dlib==19.17.0
xmltodict==0.12.0
Pillow==6.1.0
protobuf==3.9.1
keras==2.2.4
mxnet==1.5.0
scikit_learn==0.21.3
mtcnn
facenet