<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Poor's Man Rekognition Beta">
  <meta name="author" content="Creative Tim">
  <title>{{ title }}</title>
  <!-- Favicon -->
  <link href={{ static_url("img/brand/favicon.png") }} rel="icon" type="image/png">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href={{ static_url("vendor/nucleo/css/nucleo.css") }} rel="stylesheet">
  <link href={{ static_url("vendor/@fortawesome/fontawesome-free/css/all.min.css") }} rel="stylesheet">
  <!-- Argon CSS -->
  <link type="text/css" href={{ static_url("css/argon.css") }}?v=1.0.0 rel="stylesheet">
</head>

<body>
  <!-- Sidenav -->
  <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
    <div class="container-fluid">
      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Brand -->
      <a class="navbar-brand pt-0" href="/">
        <img src={{ static_url("./img/brand/blue.png") }} class="navbar-brand-img" alt="...">
      </a>
      <!-- User -->
      <ul class="nav align-items-center d-md-none">
        <li class="nav-item dropdown">

          <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right" aria-labelledby="navbar-default_dropdown_1">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="media align-items-center">
              <span class="avatar avatar-sm rounded-circle">
                <img alt="Image placeholder" src={{ static_url("./img/theme/team-4-800x800.jpg") }}>
              </span>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
            <div class=" dropdown-header noti-title">
              <h6 class="text-overflow m-0">Welcome!</h6>
            </div>
            
            <a href="#!" class="dropdown-item">
              <i class="ni ni-user-run"></i>
              <span>Logout</span>
            </a>
          </div>
        </li>
      </ul>
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Collapse header -->
        <div class="navbar-collapse-header d-md-none">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a href="/">
                <img src="{{ static_url("./img/brand/blue.png") }}">
              </a>
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <!-- Form -->
        <form class="mt-4 mb-3 d-md-none">
          <div class="input-group input-group-rounded input-group-merge">
            <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Search" aria-label="Search">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <span class="fa fa-search"></span>
              </div>
            </div>
          </div>
        </form>
        <!-- Navigation -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">
              <i class="ni ni-tv-2 text-primary"></i> Dashboard
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Main content -->
  <div class="main-content">
    <!-- Top navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
      <div class="container-fluid">
        <!-- Brand -->
        <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="/">Dashboard</a>
        
        <!-- User -->
        <ul class="navbar-nav align-items-center d-none d-md-flex">
          <li class="nav-item dropdown">
            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="media align-items-center">
                <span class="avatar avatar-sm rounded-circle">
                  <img alt="Image placeholder" src={{ static_url("./img/theme/team-4-800x800.jpg") }}>
                </span>
                <div class="media-body ml-2 d-none d-lg-block">
                  <span class="mb-0 text-sm  font-weight-bold">
                    {{
                    "{} {}".format(user.login, "({})".format(user.type.capitalize()) if user.type != "user" else "")
                    }}
                  </span>
                </div>
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
              <div class=" dropdown-header noti-title">
                <h6 class="text-overflow m-0">Welcome!</h6>
              </div>

              <a href="/?logout" class="dropdown-item">
                <i class="ni ni-user-run"></i>
                <span>Logout</span>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Files processed</h5>
                      <span class="h2 font-weight-bold mb-0">{{ processed_files }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                        <i class="fas fa-file"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">In Process</h5>
                      <span class="h2 font-weight-bold mb-0">{{ inprocess_files }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                        <i class="fas fa-stopwatch"></i>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
                        <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Processing globally</h5>
                      <span class="h2 font-weight-bold mb-0">{{ processing_globally }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                        <i class="fas fa-globe"></i>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
      <div class="row mt-5">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Welcome to PMR's Beta!</h3>
                  &emsp; On this webpage you can try person recognition in video and image files. The file processing is done asynchronously meaning that you can close the page and your video/image will still be processed (if no errors with the input will be encountered). Only 1 minute of the video due to limited hardware and possible multiple requests (anyway, it is a demo).
                  <br/>
                  &emsp; Once processing is done, you can download the JSON file containing information about all the face bounding boxes and recognized persons per each frame and video/image file with drawn bounding boxes and persons names.
                  <br/>
                  &emsp; List of all persons in the recognition dataset is <a href="http://vis-www.cs.umass.edu/lfw/justnames.html">here</a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-xl-4 col-lg-6 ">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Add new video task</h3>
                  Only .mp4 files. Please, choose small-sized files due to the slow internet connection of the server. Only 1 minute of the video will be processed.
                </div>
              </div>
            </div>
            <div class="card-body">
            <form enctype="multipart/form-data" action="/addtask" method="post">
                  <div class="row">
                    <div class="col">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFileLang" name="videofile" accept="video/*">
                    <label class="custom-file-label" for="customFileLang" >Select video</label>
                  </div>
                </div>
                </div>
                    <div class="row" style="margin-top: 1em;">
                      <div class="col text-right">
                        <button class="btn btn-icon btn-3 btn-primary" type="submit" value="upload">
                          <span class="btn-inner--icon"><i class="ni ni-cloud-upload-96"></i></span>
                          <span class="btn-inner--text">Upload</span>
                        </button>
                    </div>
                  </div>
            </form>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 ">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Add new YouTube task</h3>
                    Provide the link to the video. Only 1 minute of the video with maximal resolution 480p will be processed. 
                </div>
              </div>
            </div>
            <div class="card-body">
            <form enctype="multipart/form-data" action="/addtask" method="post">
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <input type="url" class="form-control" name="youtubevideo" placeholder="https://www.youtube.com/watch?v=Fzd-e1TUhCg">
                  </div>
                </div>
              </div>
                  <div class="row">
                      <div class="col text-right">
                        <button class="btn btn-icon btn-3 btn-primary" type="submit" value="youtubefile">
                          <span class="btn-inner--icon"><i class="ni ni-cloud-upload-96"></i></span>
                          <span class="btn-inner--text">Submit</span>
                        </button>
                    </div>
                  </div>
            </form>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 ">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Add new image task</h3>
                  .png, .jpg and .jpeg formats are accepted. Only one image is allowed.
                </div>
              </div>
            </div>
            <div class="card-body">
            <form enctype="multipart/form-data" action="/addtask" method="post">
                  <div class="row">
                    <div class="col">
                <div class="custom-file">
                    <input type="file" accept="image/*" class="custom-file-input" id="customFileLang" name="imagefile">
                    <label class="custom-file-label" for="customFileLang" >Select image</label>
                  </div>
                </div>
                </div>
                    <div class="row" style="margin-top: 1em;">
                      <div class="col text-right">
                        <button class="btn btn-icon btn-3 btn-primary" type="submit" value="upload">
                          <span class="btn-inner--icon"><i class="ni ni-cloud-upload-96"></i></span>
                          <span class="btn-inner--text">Upload</span>
                        </button>
                    </div>
                  </div>
            </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Last tasks</h3>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Filename</th>
                    <th scope="col">JSON Output</th>
                    <th scope="col">Video/Image Output</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                  {% for file in files %}
                  <tr>
                    <th scope="row">
                      {{ file.filename }}
                    </th>
                    <td>
                      {% if file.json_file != None %}
                        <a href=/output/{{ file.json_file }}>Download</a>
                      {% else %}
                        None Yet
                      {% end %}
                    </td>
                    <td>
                      {% if file.output_file != None %}
                        <a href=/output/{{ file.output_file }}>Download</a>
                      {% else %}
                        None Yet
                      {% end %}
                    </td>
                    <td>
                      {% if file.status == 0 %}
                        Added
                      {% elif file.status == 1 %}
                        Processing
                      {% elif file.status == 2 %}
                        Finished
                      {% elif file.status == 3 %}
                        Failed                      
                      {% end %}                      
                    </td>
                  </tr>
                  {% end %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="copyright text-center text-xl-left text-muted">
              &copy; 2019 
            </div>
          </div>
          <div class="col-xl-6">
            <ul class="nav nav-footer justify-content-center justify-content-xl-end">
              <li class="nav-item">
                <a href="https://github.com/creativetimofficial/argon-dashboard/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>
              </li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!-- Argon Scripts -->
  <!-- Core -->
  <script src={{ static_url("vendor/jquery/dist/jquery.min.js") }}></script>
  <script src={{ static_url("vendor/bootstrap/dist/js/bootstrap.bundle.min.js") }}></script>
  <!-- Optional JS -->
  <script src={{ static_url("vendor/chart.js/dist/Chart.min.js") }}></script>
  <script src={{ static_url("vendor/chart.js/dist/Chart.extension.js") }}></script>
  <!-- Argon JS -->
  <script src={{ static_url("js/argon.js") }}?v=1.0.0></script>
</body>

</html>